
* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 800px;
    background-image: url("IMG/Welcome\ to\ Photo\ Prop\ Floors\ &\ Backdrops\ \ -\ Inventors\ of\ Custom\ Printed\ Backdrops\ &\ Floordrops\ for\ Photographers!\ \ Also\ offering\ sequins\,\ matte\ fabrics\,\ props\,\ maternity\ gowns\,\ baseboards\,\ digital\ backdrops!.jpg");
    background-size: cover;
    background-size: 90rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

h1 {
    color: cornsilk;
    text-align: center;
    font-weight: 500;
    font-size: 42px;
    font-family: cursive;
}

h2 {
    color: #fff;
    text-align:left;
    font-weight: 350;
    font-size: 35;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 700px;
}

#contenedor {
    width: 700px;
    margin: 90px auto;
    overflow: hidden;
}

#contenedor ul {
    list-style: none;
    width: 2800px;
    display: flex;

    animation: slide 20s infinite alternate;
}

@keyframes slide {
    0%{margin-left: 0px;}
    20%{margin-left: 0px;}

    25%{margin-left: -700px;}
    45%{margin-left: -700px;}

    50%{margin-left: -1400px;}
    70%{margin-left: -1400px;}

    75%{margin-left: -2100px;}
    100%{margin-left: -2100px;}
}